#container {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2em;
  padding-right: 2em;
}

.note-container {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  margin-top: 2em;
  align-items: center;
  position: relative;
}
.title {
  text-align: center;
}

.letter {
  position: absolute;
  font-size: 45px;
  font-weight: bold;
  transition: opacity 0.5s;
}

.string {
  padding-right: 2em;
}
.note {
  padding-left: 2em;
}

.drop-fade-out {
  animation: dropFadeOut 0.5s forwards;
}

@keyframes dropFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}


.start-button-container {
  display: flex;
  justify-content: center;
}
.start-button {
  padding: 2em;
  display: inline-block;
  background-color: blue;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  color: white;
}

.stop-button {
  padding: 2em;
  display: inline-block;
  background-color: gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  color: white;
}

.start-button-container {
  margin-bottom: 5em;
}