<ion-content [fullscreen]="true" id="background">
    <div id="container" (window:keypress)="onKeyUp($event)">
      <!-- Insert Header Component Here -->
      <div class="title-container">
        <div class="space-filler"></div>
        <h1 class="title">Fret Learner</h1>
        <div class="settings-button" [routerLink]="['/settings']">Settings</div>
      </div>
      <!-- End Header Component -->
      <div class="note-container">
        <div class="outer-box">
          <div class="inner-box">
            <div class="letter string" [ngClass]="{'drop-fade-out': animate}" *ngIf="animate">
              {{ oldString }}
            </div>
            <div class="letter note" [ngClass]="{'drop-fade-out': animate}" *ngIf="animate">
              {{ oldNote }}
            </div>
            <div class="letter string" *ngIf="string">
              {{ string }}
            </div>
            <div class="letter note" *ngIf="note">
              {{ note }}
            </div>
          </div>
        </div>
      </div>
      <div class="start-button-container">
        <div class="start-button-outer">
          <div class="start-button" *ngIf="!this.playing" (click)="this.start()">
            Start Training
          </div>
          <div class="stop-button" *ngIf="this.playing" (click)="this.stop()">
            Stop Training
          </div>
        </div>
      </div>
      <div class="fret-board-container" *ngIf="this.settings.visual_note">
        <div id="marker" [style.top]="this.marker_top" [style.left]="this.marker_left"></div>
        <img id="fret-board" [src]="this.fret_board">
      </div>
    </div>
</ion-content>
